<!doctype html>
<html>

<head>
    <title>Ride Notify</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    <style>
        .jumbotron {
            padding-top: 80px;
        }
    </style>
</head>

<body>


    <div class="container">
        <% include header.ejs %>

            <div class="jumbotron text-center">
                <h1><span class="fa fa-bus"></span> <span class="fa fa-subway"></span> <span class="fa fa-train"></span></br>Ride Notify</h1>
                
                <h4>Realtime and Accurate Trasit Predictions for your Home.</h4></br>
                <p>Login or Register with:</p>

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a><p></p>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
            </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>