<!doctype html>
<html>

<head>

    <title>Add Route</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCivbjFRp_ttSWzhsWuLsfXP316GBYwjro">
    </script>
    <style type="text/css">
        #map-canvas {
            height: 240px;
            margin: 0;
            padding: 0;
        }
    </style>

    <script type="text/javascript">
        var socket = io.connect("http://localhost:8080");
        var lat, lon;
        var ma,mr,ms,mc,uid;
        socket.on("connect", function () {
            console.log("Connected to Socket!");
        });

        function load() {
            document.getElementById("stopmap").style.display = "none";
            document.getElementById("route").style.display = "none";
            document.getElementById("stop").style.display = "none";
            
            uid = document.getElementById("uid").innerHTML;
        }

        socket.on('agency', function (data) {
            //console.log(data);
            
            var x = document.getElementById("agency");
            x.options.length = 1;

            for (agency of data) {
                //console.log(agency.id); 
                x.options[x.options.length] = new Option(agency.title, agency.id);
            }
            
        });

        socket.on('routes', function (data) {
            //console.log(data);
            var x = document.getElementById("routes");
            x.options.length = 1;
            for (routes of data) {
                //console.log(routes.title); 
                x.options[x.options.length] = new Option(routes.title, routes.id);

            }
            document.getElementById("route").style.display = "block";
            document.getElementById("stop").style.display = "none";
            document.getElementById("stopcode").innerHTML = 'Stop #: ';
        });
        socket.on('stops', function (data) {
            //console.log(data);
            var x = document.getElementById("stops");
            x.options.length = 1;
            for (stops of data) {
                //console.log(stops.title); 
                x.options[x.options.length] = new Option(stops.title, stops.id);

            }
            document.getElementById("stop").style.display = "block";
            document.getElementById("stopcode").innerHTML = 'Stop #: ';


        });
        socket.on('stop', function (data) {
            showmap(data[0].lat, data[0].lon, data[0].title, data[0].code);
            ms = data[0].title;
            mc = data[0].code;
            lat = data[0].lat;
            lon = data[0].lon;
            
            document.getElementById("stopcode").innerHTML = 'Stop #: '+data[0].code;
        });

        function pickedAgency() {
            var e = document.getElementById("agency");
            var sAgency = e.options[e.selectedIndex].value;
            socket.emit('listRoutes', sAgency);
            ma =sAgency;
        }

        function pickedRoute() {
            var e = document.getElementById("routes");
            var sRoute = e.options[e.selectedIndex].value;
            var r = document.getElementById("agency");
            var sAgency = r.options[r.selectedIndex].value;
            
            mr = sRoute;
            socket.emit('listStops', {
                agency: sAgency,
                route: sRoute
            });
        }

        function pickedStop() {
            var e = document.getElementById("routes");
            var sRoute = e.options[e.selectedIndex].value;
            var r = document.getElementById("agency");
            var sAgency = r.options[r.selectedIndex].value;
            var e = document.getElementById("stops");
            var sStop = e.options[e.selectedIndex].value;
            socket.emit('showStop', {
                agency: sAgency,
                route: sRoute,
                stop: sStop
            });
        }
        
        function saveStop() {
            
            socket.emit('saveStop', {id:uid,route:mr,agency:ma,stop:ms,code:mc,lat:lat,lon:lon});  
            window.location.href = "/profile";

            
        }
        function showmap(lat, long, title, code) {
            var myLatlng = new google.maps.LatLng(lat, long);
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            }
            document.getElementById("stopmap").style.display = "block";

            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: title + ' #' + code,
                icon: 'img/busstop.png'

            });
            var infowindow = new google.maps.InfoWindow({
                content: title + ' #' + code
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
</head>

<body onload="load()">
    <div class="container">

        <% include header.ejs %>

            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Add New Route</h1>
            </div>

            <div class="row">
                <!-- Add new route -->
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="well">
                        <h3><span class="fa fa-user" ></span> Route Lookup </h3>
                        <p>
                            <div id='uid' hidden><%=user._id %></div>
                        </p>

                        <form role="form">
                            <div class="form-group">
                                <label for="usr">Agency:</label>
                                <select class="form-control" id="agency" onChange="pickedAgency()" name="agency">
                                    <option>Please select an Agency</option>

                                </select>
                            </div>
                            <div class="form-group" id="route">
                                <label for="usr">Route:</label>
                                <select class="form-control" id="routes" onChange="pickedRoute()" name="routes">
                                    <option>Please select a Route</option>
                                </select>
                            </div>
                            <div class="form-group" id="stop">
                                <label for="usr" id="stopcode" name='stopcode'>Stop #:</label>
                                
                                <select class="form-control" id="stops" onChange="pickedStop()" name="stops">
                                    <option>Please select a Stop</option>
                                </select>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4" id="stopmap">
                    <div class="well">
                        <div id="map-canvas"></div>
                        </br>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button" onclick="saveStop()"><i class="fa fa-plus-square"></i> Add Route</a>
                        </p>

                    </div>
                </div>
            </div>


    </div>
</body>

</html>