<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCivbjFRp_ttSWzhsWuLsfXP316GBYwjro">
    </script>
    <style type="text/css">
        .map {
            height: 100px;
            width: 100px;
            margin: 0;
            padding: 0;
        }
        .btn-group {
            bottom: 15px;
            position: relative;
            top: 15px;
        }
    </style>
    <script type="text/javascript">
        var socket = io.connect("http://localhost:8080");
        var lat, lon;
        var ma, mr, ms, mc, uid;
        
        function popstops() {
            var stops =<%-JSON.stringify(stops)%>;
            if (stops.length == 0) {
                var tableRef = document.getElementById('table_div').getElementsByTagName('tbody')[0];
                var row = tableRef.insertRow(tableRef.rows.length);
                var cell1 = row.insertCell(0);
                // Add some text to the new cells:
                cell1.innerHTML = "You currently have no watched routes...<a href='/newRoute'>add some</a>!"
            }
            for (stop of stops) {
            var tableRef = document.getElementById('table_div').getElementsByTagName('tbody')[0];
                var row = tableRef.insertRow(tableRef.rows.length);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);

                var sid = stop._id;

                // Add some text to the new cells:
                cell1.innerHTML = stop.agency;
                cell2.innerHTML = stop.route;
                cell3.innerHTML = stop.stop;
                cell4.innerHTML = '<div class="map" id="' + stop.code + '"></div>';
                cell5.innerHTML = '<button type="button" class="btn btn-default" aria-label="Left Align" onClick="delRoute(\'' + sid + '\')" />  <span class="fa fa-times" aria-hidden="true"></span></button>';

                makemap(stop.lat, stop.lon, stop.stop, stop.code);
            }
        }
        window.onload=popstops;

        function delRoute(id) {
            socket.emit("delRoute", id)
        }
        socket.on('deleted', function (data) {
            window.location.href = "/profile";

        });

        function makemap(lat, long, title, code) {
            var myLatlng = new google.maps.LatLng(lat, long);
            var mapOptions = {
                zoom: 14,
                center: myLatlng,
                disableDefaultUI: true,
                mapTypeControl: false
            }
            var map = new google.maps.Map(document.getElementById(code), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: title + ' #' + code,
                icon: 'img/busstop.png'

            });
            var infowindow = new google.maps.InfoWindow({
                content: title + ' #' + code
            });
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
</head>

<body>
    <div class="container">
        <% include header.ejs %>
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Account Settings</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">
                <div class=".col-sm-6 .col-sm-offset-3">
                    <div class="well">
                        <div class="pull-right">
                        <a href="/newRoute" class="btn btn-success"><i class="fa fa-plus-square"></i> New Route</a>
                        </div>
                        <h3><span class="fa fa-user"></span> Currently Watched Routes    </h3>
                        
                        </br>
                        <table class="table" id='table_div'>
                            <thead>
                                <tr>
                                    <th>Agency</th>
                                    <th>Route</th>
                                    <th>Stop</th>
                                    <th>Map</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> User Settings</h3>
                        <% stops %>
                        <% if (user.local.email) { %>
                            <p>
                                <strong>id</strong>:
                                <%=user._id %>
                                    <br>
                                    <strong>email</strong>:
                                    <%=user.local.email %>
                                        <br>
                                        <strong>password</strong>:
                                        <%=user.local.password %>
                            </p>

                            <a href="/unlink/local" class="btn btn-default">Unlink</a>
                            <% } else { %>
                                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                <% } %>

                    </div>
                </div>



            </div>

            <div class="row">
                <!-- FACEBOOK INFORMATION -->
                <div class="col-md-3">
                    <div class="well">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (user.facebook.token) { %>
                            <p>
                                <strong>id</strong>:
                                <%=user.facebook.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%=user.facebook.token %>
                                        <br>
                                        <strong>email</strong>:
                                        <%=user.facebook.email %>
                                            <br>
                                            <strong>name</strong>:
                                            <%=user.facebook.name %>
                                                <br>
                            </p>

                            <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                            <% } else { %>
                                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                                <% } %>

                    </div>
                </div>



                <!-- TWITTER INFORMATION -->
                <div class="col-md-3">
                    <div class="well">
                        <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                        <% if (user.twitter.token) { %>
                            <p>
                                <strong>id</strong>:
                                <%=user.twitter.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%=user.twitter.token %>
                                        <br>
                                        <strong>display name</strong>:
                                        <%=user.twitter.displayName %>
                                            <br>
                                            <strong>username</strong>:
                                            <%=user.twitter.username %>
                            </p>

                            <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                            <% } else { %>
                                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                                <% } %>

                    </div>
                </div>

                <!-- GOOGLE INFORMATION -->
                <div class="col-md-3">
                    <div class="well">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                        <% if (user.google.token) { %>
                            <p>
                                <strong>id</strong>:
                                <%=user.google.id %>
                                    <br>
                                    <strong>token</strong>:
                                    <%=user.google.token %>
                                        <br>
                                        <strong>email</strong>:
                                        <%=user.google.email %>
                                            <br>
                                            <strong>name</strong>:
                                            <%=user.google.name %>
                            </p>

                            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                            <% } else { %>
                                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                                <% } %>

                    </div>
                </div>
            </div>

    </div>
</body>

</html>